<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Open+Sans:wght@300&family=Poppins:wght@200&family=Roboto+Condensed:wght@700&family=Work+Sans:wght@200&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  <div class="todo">
    <h1>Todo:</h1>
    <ul id="myList">
      <% todo_list.forEach((el, i)=>{ %>
      <li class="listItems" id="listItem<%=i%>"><%=el%></li>
      <% }) %>
    </ul>
  </div>

  <div class="additem">
    <input type="text" id="textInput" placeholder="Enter your item" />
    <button id="addItemButton">Add Item</button>
  </div>

  <div class="login">
    <% if (!loggedIn) { %>
    <h2><a href="/auth/login">Login</a> / <a href="/auth/signup">Signup</a></h2>
    <% } else { %>
    <h2>You are logged in.</h2>
    <% } %>
  </div>

  <script>
    document.getElementById("addItemButton").addEventListener("click", () => {
      let ul = document.getElementById("myList");
      let customText = document.getElementById("textInput").value;

      let li = document.createElement("li");
      li.appendChild(document.createTextNode(customText));
      ul.appendChild(li);

      li.addEventListener("click", () => {
        li.remove();
      });
    });

    let items = document.getElementsByClassName("listItems");
    for (let i = 0; i < items.length; i++) {
      items[i].addEventListener("click", () => {
        items[i].remove();
      });
    }
  </script>
</body>
